<!-- Карусель -->
<div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">
    <!-- Индикаторы для карусели -->
    <ol class="carousel-indicators">
        <!-- Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" -->
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <!-- Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" -->
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!-- Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" -->
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>

    </ol>
    <!-- Слайды карусели -->
    <div class="carousel-inner">
        <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->

        <div class="active item">
            <h4 id="preg1">Урок №1 - урок вводный</h4>
            <h4>Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>

            <p id="preg2">Определены общие принципы построения отчетности предприятий, показаны приемы построения графического баланса предприятия,  определена цель создания форм бухгалтерской отчетности, рассмотрены зарубежные аналоги отчетов, основные различия международных стандартов и их причины, различия общих принципов учета.</p>

            <br/>
                <img src="{{ asset('bundles/vlsite/images/pictures/7b36e2.jpg') }}" alt="">
        <div class="carousel-caption">
            <div class="list-inline ">
                <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
            </div>
        </div>

        </div>


        <div class="item">
            <h4 id="preg1">Урок №2 - принципы проведения вертикального и горизонтального анализа баланса</h4>
            <h4>Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>

            <p id="preg2">объясняющий принципы проведения вертикального и горизонтального анализа баланса и отчета о финансовых результатах деятельности предприятия. Расчеты выполнены в MATLAB, показан процесс создания сценария. Проводится коэффициентный анализ отчетности, определяются ликвидность баланса предприятия и его финансовая устойчивость</p>

            <br/>
            <img src="{{ asset('bundles/vlsite/images/pictures/1452700006_11.jpg') }}" alt="">
            <div class="carousel-caption">
                <div class="list-inline ">
                    <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
                </div>
            </div>
        </div>        <!-- Слайд №2 -->

        <div class="item">
            <h4 id="preg1">Урок №3 - стоимость капитала</h4>
            <h4>Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>
            <p id="preg2"> что такое средневзвешенная стоимость капитала, рассматривается вопрос влияния финансового левериджа на стоимость капитала, нормальность распределения  дохода, среднее и среднеквадратическое отклонение.</p>

            <br/>
            <img src="{{ asset('bundles/vlsite/images/pictures/bankir01.jpg') }}" alt="">
            <div class="carousel-caption">
                <div class="list-inline ">
                    <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
                </div>
            </div>
        </div>

        <!-- Слайд №3 -->
        <div class="item">
            <h4 id="preg1">Урок №4 - денежные потоки </h4>
            <h4 >Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>
            <p id="preg2">объясняет что такое денежные потоки проекта, как рассчитывается NPV и IRR проекта. Что такое вложенный доход и как рассчитывается точка безубыточности проекта. Рассмотрен пример расчета проекта  таксомоторного парка с использованием пакета Projtct expert.</p>

            <br/>
            <img src="{{ asset('bundles/vlsite/images/pictures/da2602-tvobx.jpg') }}" alt="">
            <div class="carousel-caption">
                <div class="list-inline ">
                    <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
                </div>
        </div>

        </div>
        <div class="item">
            <h4 id="preg1">Урок №5 - основы эконометрии </h4>
            <h4>Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>
             <p id="preg2"> в уроке  изложены основы эконометрии, получение основных характеристик нормального закона распределение с помощью Матлаб, регрессионный анализ, получение прогнозных значений случайных величин, прогноз банкротства предприятия</p>

            <br/>
            <img src="{{ asset('bundles/vlsite/images/pictures/images2.jpg') }}" alt="">
            <div class="carousel-caption">
                <div class="list-inline ">
                    <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
                </div>
            </div>
        </div>

        <div class="item">
            <h4 id="preg1">Урок №6 - корпоративное бюджетирование </h4>
            <h4>Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>
              <p id="preg2">в уроке рассмотрены вопросы корпоративного бюджетирования, общего планирования, производственного планирования с помощью линейного программирования и статистического анализа, рассмотрены вопросы имитационного моделирования, использованы пакеты  Матлаб и Tycoon.</p>

            <br/>
            <img src="{{ asset('bundles/vlsite/images/pictures/images4.jpg') }}" alt="">
            <div class="carousel-caption">
                <div class="list-inline ">
                    <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
                </div>
            </div>
        </div>
        <div class="item">
            <h4 id="preg1">Урок №7 - работа с акциями предприятий </h4>
            <h4>Общий принцип - от простого к сложному! Цель - подготовка финансового аналитика!</h4>
              <p id="preg2"> в уроке рассмотрены вопросы работы с акциями предприятий, поиск акций по критериям Бенджемина Грэма и Джоуэла Гринблатта. Оценка отобранных акций. Создание инвестиционного портфеля, изложена математика Matlab.</p>

            <br/>
            <img src="{{ asset('bundles/vlsite/images/pictures/money003.jpg') }}" alt="">
            <div class="carousel-caption">
                <div class="list-inline ">
                    <a class="list-inline-item sep" href="{{ path('login' ) }}"><i class="fa fa-cog fa-spin"></i> Приобрести</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Навигация для карусели -->
    <!-- Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <!-- Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" -->
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>